.heading {
     
    text-align: center;
    display: flexbox;
    border: 1px solid #ccc;
    background-color: #3d0be0;
    color: rgb(243, 239, 235);
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    font: inherit;
    font-weight: bold;
}
body{
    background-color: rgb(12, 117, 117);
}